#bob{
    background-color: #a2d2f0;
    height: 100%;
}

.button {
    
    border: black;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
    cursor: pointer;
  }

  .button3 {
      background-color: yellow;
      border: black;
}
.button32 {
    background-color: rgb(21, 211, 21);
    border: black;
}