<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>


<header id="header" class="fixed-top">
    <div class="container d-flex">
        <div class="logo mr-auto">
            <a href="#"><img src="../assets/images/logo.jpg" alt="" class="img-fluid"></a>
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a routerLink="/admin">Home</a></li>
                <li><a routerLink="/addwasher">Add Washer</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="body"> <br>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fa fa-users" style="font-size:60px;"></i>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge" style="font-size:30px"></div>
                                        <div>Washer Details</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" style="height:35px">
                                <a routerLink="/allwashers"><span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span></a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fa fa-star" style="font-size:60px;"></i>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div id="totalVideos" class="huge" style="font-size:30px"></div>
                                        <div>View Users Reviews&Ratings</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" style="height:35px">
                                <a routerLink="#"><span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span></a>
                            </div>
                        </div>
                    </div> -->
                   

                    <div class="col-md-4" style="float: right;">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fa fa-trash" style="font-size:60px;"></i>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge" style="font-size:30px"></div>
                                        <div>Delete Washer</div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer" style="height:45px">
                                <form (ngSubmit)="deleteWasher()" #washForm="ngForm">
                                    <input name="email" id="email" placeholder="Enter Email" type="text"
                                        [(ngModel)]="washer.email">&nbsp;
                                    <button class="button button3">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">


        <h4>All Washer Details</h4>
        <table class="table table-light" style="color:rgb(0, 0, 0)">
            <thead class="thead-light">
                <tr>

                    <th scope="col">Email</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let washer of totalWashers">
                <tr>

                    <td>{{washer.email}}</td>
                    <td>{{washer.name}}</td>
                    <td>{{washer.phoneNumber}}</td>
                    <!-- <td><button class="button button3" (click)="deleteWasher(washer.email)">Delete</button></td> -->
                </tr>

            </tbody>
        </table>
    </div>

</div>