<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<header id="header" class="fixed-top">
    <div class="container d-flex">
        <div class="logo mr-auto">
            <a href="#"><img src="../assets/images/logo.jpg" alt="" class="img-fluid"></a>
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a routerLink="/washer/home">Home</a></li>
                <li class="drop-down"><a>My Profile</a>
                    <ul>
                        <!-- <li><a routerLink="#">View/Edit Profile</a></li> -->
                        <li><a routerLink="/presentorders">Current Orders</a></li>

                    </ul>
                </li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="body"> <br>
    <div class="container">
        <div class="col-md-4" style="float: right;margin-right: -1cm;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: rgba(157, 255, 59, 0.842);">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="huge" style="font-size:30px;"></div>
                            <h4 style="color: black;">Accept Orders</h4>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="height:145px">
                    <form (ngSubmit)="washerDecision()" #acceptForm="ngForm">
                        <p style="font-weight: bold;">Select OrderNo:</p>
                        <select class="form-control mb-4" id="orderNo" name="orderNo" [(ngModel)]="orderWash.orderNo">
                            <option>Select</option>
                            <option *ngFor="let order of orders">{{order.orderNo}}</option>
                        </select>
                        <button class="btn btn-info btn-block my-4">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md-4" style="float: rignt;margin-right: -1cm;margin-left:20.6cm;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: rgba(255, 59, 59, 0.842);">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="huge" style="font-size:30px;"></div>
                            <h4 style="color: black;">Reject Orders</h4>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="height:145px">
                    <form (ngSubmit)="rejectOrder()" #rejectForm="ngForm">
                        <p style="font-weight: bold;">Select OrderNo:</p>
                        <select class="form-control mb-4" id="order" name="orderNo" [(ngModel)]="orderWash1.orderNo">
                            <option>Select</option>
                            <option *ngFor="let order of orders">{{order.orderNo}}</option>
                        </select>
                        <button class="btn btn-info btn-block my-4">Reject</button>
                    </form>
                </div>
            </div>
        </div>
  
        <div class="panel panel-info" style="width:70%; margin-left: -1cm;">
            <div class="panel-heading">
                <div class="panel-title">Assigned Orders :</div>
            </div>
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Order No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Maker</th>
                        <th scope="col">Model</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let order of allOrdersInfo">
                    <tr>
                        <td>{{order.orderNo}}</td>
                        <td>{{order.name}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.maker}}</td>
                        <td>{{order.model}}</td>
                        <td>{{order.date}}</td>
                    </tr>
                </tbody>

            </table>
        </div>